<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-512x512.png">
    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6041895319344120"
     crossorigin="anonymous"></script> -->
     <!-- <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=fb33a7fe-fbee-4bf4-9032-5777eee05da5"></script> -->
     <!-- <script type="text/javascript">
      amzn_assoc_placement = "adunit0"
      amzn_assoc_tracking_id = "powermatchapp-20"
      amzn_assoc_ad_mode = "manual"
      amzn_assoc_ad_type = "smart"
      amzn_assoc_marketplace = "amazon"
      amzn_assoc_region = "US"
      amzn_assoc_title = "Anker Chargers"
      amzn_assoc_linkid = "18fdab4052df7fb2695f5488b8c24ef2"
      amzn_assoc_asins = "B099F558S1,B0B2MM1W65,B08XQRCPG4,B0BQLHGLG4"
      amzn_assoc_search_bar = "false"
      </script> -->
    
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
